html{
  height: 100%
}

body{
  width: auto !important;  /* Firefox will set width as auto */
  height: 100%;
  background-color: #1A263D !important;
}
#wrapper {
  height: 100%;
  padding-left: 0;
  padding-right: 300px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#header-wrapper {
/*  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;*/
}

#header-content {
  background-color: #181c20;
  color: #ffffff;
  height: 45px;
  line-height: 45px;
  padding: 0px;
}

#header-content .brand{
  float:left;
  vertical-align: middle;
  padding-right: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width:0px;
  padding: 0px 0px 0px 15px;
  left: 250px;
  margin-left: -250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#searchThumbnail{
  z-index: 1080;
}

#searchForm {
  padding-left: 10px;
}

#searchForm span{
  padding-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}

#searchBox {
  height: 25px;
  width: 250px;
  border-radius: 15px;
  color: #555555;
  padding: 0px 10px 0 10px;
  font-size: 13px;
}

#searchBox:focus {
  outline: none;
}

#searchResult {
  z-index: 1100;
  width: 285px;
  position: absolute;
  background-color: #2e353d;
  margin: 5px;
}

#playlist-table {
  table-layout:fixed;
}

#playlist-table .table-rank{
  width: 75px;
  /*padding: 0px 5px 0px 5px;*/
  /*table-layout:fixed;*/
}

#playlist-table .table-name{
  /*width: calc(100%-220px);*/
  /*table-layout:fixed;*/
}

#playlist-table .table-artist{
  width: 145px;
  /*table-layout:fixed;*/
}

#playlist-content .addList{
  text-align: center; 
  /*height: 41px;*/
  /*border-: 1px solid #4f5b69;*/
}

#playlist-content .addList:before{
  content: "";
  width: 0px;
  padding: 0px;
  margin: 0px;
}

.music-list ul,
.music-list li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 40px;
  cursor: pointer;
}

.music-list li{
  border-bottom: 1px solid #4f5b69;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  height: 55px;
  line-height: 55px;
  padding: 2px 10px 2px 10px;
}

.music-list li a {
  color: #ffffff;
  text-decoration: none;
  padding-left: 10px;
}

.music-list li .title {
  height: 27px;
  line-height: 27px;
  vertical-align: middle;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  width: 100%;
  font-weight: bold;
}

.music-list li .desc {
  height: 23px;
  line-height: 23px;
  vertical-align: middle;
  font-size: 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  width: 100%;
}
/*#searchBox.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
*/
.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

#sidebar-wrapper {
  z-index: 1000;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #252E45;
  color: #e1ffff;
  position: fixed;
  top: 45px;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#page-wrapper {
  height: 100%;
  background-color: #1A263D;
  color: #ffffff;
  /*float: left;*/
  /*width: 100% - 300;*/
}

#page-wrapper.big-video {
  padding-top: 505px;
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: #181c20;
    /*border-left: 1px solid #3498DB;*/
}
::-webkit-scrollbar-thumb {
    background-color: #14689B;
}
/*::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}*/

#main-content {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 40px;
}

#main-content.big-video{
  padding-top: 505px;
}

#main-content .loading {
  width: 80px;
  position: absolute;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 70px);  
}

#playlist-table {

}

#playlist-table th,
#playlist-table td {
  height: 40px;
  list-style: none;
  padding: 0px 15px 0px 15px;
  margin: 0px;
  line-height: 40px;
  cursor: pointer;  
  vertical-align: middle;
  border: none;
  border-bottom: 1px solid #4f5b69;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}

#playlist-table .table-body tr:hover {
  /*border-left: 3px solid #d19b3d;*/
  height: 40px;
  list-style: none;
  padding: 0px 20px 0px 20px;
  margin: 0px;
  line-height: 40px;
  cursor: pointer;  
  vertical-align: middle;
  border: none;
  border-bottom: 1px solid #4f5b69;
  background-color: #4f5b69;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#playlist-table .table-body tr .active {
  /*border-left: 3px solid #d19b3d;*/
  background-color: #4f5b69;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#right-sidebar {
  z-index: 1000;  
  background-color: #252E45;
  color: #ffffff;
  float: right;
  position: fixed;
  top: 45px;
  right: 0;
  width: 300px;
  overflow-y: hidden;
  height: 100%;
}

#playListContextMenu {
  position: absolute;
  z-index: 1080;
  background-color: #dddddd;
  color: #111111; 
}

#videoListContextMenu {
  position: absolute;
  z-index: 1080;
  background-color: #dddddd;
  color: #111111; 
}


#video-controller.big-video{
  margin-top: 505px;
}

#video-controller {
  margin-top: 230px;
}

.song-display {
    height: 70px;
    box-sizing: border-box;
    padding: 10px 30px;
    text-align: center;
}

.player-controls {
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
    border-top: 1px solid #172235;
}

.player-controls i {
    cursor: pointer;
    margin: 0 10px;
}

.toggle-shuffle-btn.toggled {
  color: #3498DB;
}

.toggle-repeat-btn.toggled {
  color: #3498DB;
}

.player-controls .control-center-icon {
    font-size: 26px;
}

.aux-controls {
    border-bottom: 1px solid #172235;
}

.aux-controls-inner-wrapper {
    width: 250px;
    height: 50px;
    margin: 0 auto;
}

.toggle-shuffle-btn, .toggle-repeat-btn {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.volume-control {
    float: left;
}

.volume-btn {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.volume-control-slider-container {
    margin-top: 5px;
}

input.volume-control-slider {
    width: 150px !important;
    float: left;
    margin-left: 10px;
    cursor: pointer;
    height: 14px;
}

.song-title {
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;  
}

.song-artist {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;    
}

#video-wrapper {
  z-index: 1020;  
  background-color: #252E45;
  color: #ffffff;
  float: right;
  position: fixed;
  top: 45px;
  right: 0;
  width: 300px;
  overflow-y: auto;
  height: 230px;
}

#video-player {
  position: fixed;
  width: 300px;
  height: 200px;
  background-color: #000000;
}

#video-wrapper.big-video{
  /*position: static;*/
  width: 100%;
  height: 505px;
}

#video-wrapper.big-video #video-player{
  width: 100%;
  height: 480px;
}

#video-wrapper.big-video #video-size-btn{
  margin-top: 480px;
}

#video-wrapper.full-video{
  /*background-color: black;*/
  width: 100%;  
  height: 100%;
}

#video-wrapper.full-video #video-player{
  height: calc(100% - 25px);  
  width: 100%;
}

#video-wrapper.full-video #video-size-btn{
  margin-top: calc(100% - 25px);
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#sidebar-wrapper .menu-list {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
}

#video-size-btn{
  margin-top: 200px;
  padding: 0 0 5px 0;
  background-color: black;
  text-align: right;
  color: white;  
}

#video-size-btn .fa{
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px; 
}

#video-size-btn.video-big{
  width: 100%;
  margin-top: 0;
}

#video-size-btn.video-full{
  position: fixed;
  width: 100%;
  bottom: 0;  
}

/*#video-size-btn .video-size-icon{
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;  
}*/

.contextMenu {

}

.contextMenu td{
  height: 20px ;
  cursor: pointer;
  padding-left: 10px;
  border-bottom : 1px solid #4f5b69;
  background-color: #eeeeee;
  color: #000000;
}

.contextMenu td:hover{
  background-color: #23282e;
  color: #ffffff;
}

.nav-side-menu .menu-list .menu-content {
  display: block;
}

.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 40px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;

  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;

}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  height: 41px;
  line-height: 41px;
  border-bottom: 1px solid #4f5b69;
  margin-left: 0px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
/*  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;*/
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #4f5b69;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
/*  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }*/
}
@media (min-width: 1000px) {
  #header-content .brand {
    width: 250px;
    margin-left: 0px;
  }
  #wrapper {
    padding-left: 250px;
    padding-right: 300px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #video-wrapper.big-video{
    /*position: static;*/
    width: calc(100% - 250px);
    height: 505px;
  }

  #video-wrapper.big-video #video-player{
    width: calc(100% - 250px);
    height: 480px;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
